html, body {
    margin: 0;
    padding: 0;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
}

.genres {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    
}

.genre {
    text-align: center;
    font-size: 2.4rem;
    box-sizing: border-box;
    height: 100px;
    flex-basis: 200px;
    padding: 30px 30px 20px 20px;
}

.action {
    background: rgb(30, 144, 255);
    flex-grow: 1;
}

.thriller {
    background: rgb(190, 178, 178);
    flex-grow: 1;
}

.comedy {
    background: rgb(255, 214, 30);
    flex-grow: 3;
   
}

.horror {
    background: rgb(0, 0, 0);
    color: white;
    flex-grow: 1;
}

.drama {
    background: rgb(169, 169, 169); 
    flex-grow: 1;
}

.romance {
    background: rgb(255, 0, 0);
    flex-grow: 6;
}
